
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pedido Error Local</title>
  <style>
    body {
      width: 100% !important;
      min-width: 100%;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      margin: 0;
      Margin: 0;
      padding: 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  </style>
</head>
<body>

  <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse: collapse; padding: 0px; margin:0px;width: 100%;background-color: #F2F2F2;">

    <tbody>
      <tr>
        <td colspan="3" height="50">&nbsp;</td>
      </tr>

      <!-- FILA MAIL CENTRADO -->
      <tr>
          <td style="width:33.3%">&nbsp;</td>
          <td style="width:33.3%">

         <!-- Mail Principal -->
          <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse: collapse; padding: 0px; margin:0px;background-color: #fff;" width="700">
          <tbody>
            <!--  imagenes -->
            <tr>
              <td  colspan="3" style="padding: 0px;width: 700px; "> <img alt="" src="http://200.91.27.170/restaurant/<%=@order.company.data['shop_id'] %>/images/header-methodo.jpg" style="width: 700px;margin: 0px;display: block;" /></td>
            </tr>

            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="30">&nbsp;</td>
            </tr>


            <!--  Estado del pedido -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <% if @operador == "WebService" %>
                  <h1 style="font-family: 'Arial', 'Helvetica', sans-serif;font-size:18px;font-weight: bold; color: #FF5722;margin:0px;text-align: center;">Pedido no realizado</h1>
                <% else %>
                  <h1 style="font-family: 'Arial', 'Helvetica', sans-serif;font-size:18px;font-weight: bold; color: #FF5722;margin:0px;text-align: center;">Pedido cancelado por <%= @operador %></h1>
                <% end %>
              </td>
              <td width="50">&nbsp;</td>
            </tr>

            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="30">&nbsp;</td>
            </tr>


            <!--  Cuerpo del mensaje -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <p style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;">Estimados </p>
                <% if @operador == "WebService" %>
                  <p style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;">No se pudo realizar el siguiente pedido online:</p>
                <% else %>
                  <p style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;">El pedido ha sido cancelado desde el local por <%= @operador %> </p>
                <% end %>
              </td>
              <td width="50">&nbsp;</td>
            </tr>

            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="10">&nbsp;</td>
            </tr>

            <!-- datos del cliente -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <h4 style="text-align: left;color: #6c9b3b;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: bold;">Datos cliente</h4>
              </td>
              <td width="50">&nbsp;</td>

            </tr>
            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="10">&nbsp;</td>
            </tr>

           <!-- Tabla detalle cliente -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse: collapse; padding: 0px; margin:0px;" width="600">

                  <tbody>
                    <!-- Nombre Cliente -->
                    <tr style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color: #ccc;">
                      <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;">Nombre Cliente</td>
                      <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: bold;padding:5px 0px;"><%=@order.user.name%></td>
                    </tr>

                    <!-- Telefono -->
                    <tr style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color: #ccc;">
                      <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;">Telefóno Cliente</td>
                      <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: bold;padding:5px 0px;"><%=@order.user.phone%></td>
                    </tr>

                    <!-- Email cliente -->
                    <tr style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color: #ccc;">
                      <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;">Email Cliente</td>
                      <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: bold;padding:5px 0px;"><%=@order.user.email%></td>
                    </tr>
                    <!-- Direccion cliente -->
                    <tr style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color: #ccc;">
                      <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;">Dirección Cliente</td>
                      <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: bold;padding:5px 0px;">
                        <%if @order.address%>
                          <%=@order.address.address%>
                        <%else%>
                          Retiro en Local
                        <%end%>
                      </td>
                    </tr>

                  </tbody>
                </table>

              </td>
              <td width="50">&nbsp;</td>

            </tr>  <!-- fin tabla pedido -->


            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="10">&nbsp;</td>
            </tr>


            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <h4 style="text-align: left;color: #6c9b3b;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: bold;">Detalle del pedido</h4>
              </td>
              <td width="50">&nbsp;</td>

            </tr>

             <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="10">&nbsp;</td>
            </tr>

            <!--  Número de pedido -->
            <tr>
             <td width="50">&nbsp;</td>
              <td width="600">
               <p style="text-align: right;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: bold;">Nº de Pedido: <span style="font-weight: bold;"> <%=@order.id%></p>
              </td>
              <td width="50">&nbsp;</td>
            </tr>

             <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="10">&nbsp;</td>
            </tr>

           <!-- Tabla detalle pedido -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse: collapse; padding: 0px; margin:0px;" width="600">
                  <thead>
                  <!-- Cabecera -->

                    <tr style="border-bottom-width:2px; border-bottom-style:solid; border-bottom-color: #333;">
                      <th style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: bold;padding:5px 0px;">Producto</th>
                      <th style="text-align: center;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: bold;padding:5px 0px;">Cantidad</th>
                      <th  style="text-align: right;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: bold;padding:5px 0px;">Valor</th>
                    </tr>
                  </thead>

                  <tbody>
                    <%@order.items.each do |item|%>
                      <!-- Producto -->
                      <tr style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color: #ccc;">
                        <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;">
                          <%=@order.get_item_name item["id_producto"]%>
                          <%if item['families']%>
                            <ul style="margin: 5px 0">
                              <%item['families']['items'].each do |k,v|%>
                                <li>
                                  <%=k%>
                                  <ul>
                                    <%v.each do |product|%>
                                    <li><%= product['pro_nombre'] == "Palitos" ? "Personas" : product['pro_nombre'] %></li>
                                    <%end%>
                                  </ul>
                                </li>
                              <%end%>
                            </ul>
                          <%end%>
                        </td>
                        <td style="text-align: center;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;"><%=item["cantidad"]%></td>
                        <td style="text-align: right;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;"><%=number_to_currency item["amount"], precision: 0, delimiter: "."%></td>
                      </tr>
                    <%end%>

                  </tbody>

                  <tfoot>
                  <!-- Total -->

                    <tr style="border-top-width:2px; border-top-style:solid; border-top-color: #333;">
                      <td style="text-align: left;color: #000;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: bold;padding:8px 0px;" colspan="2">Total:</td>
                      <td style="text-align: right;color: #000;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: bold;padding:8px 0px;"><%=number_to_currency @order.total, precision: 0, delimiter: "."%></td>
                    </tr>

                  </tfoot>
                </table>

              </td>
              <td width="50">&nbsp;</td>

            </tr>  <!-- fin tabla pedido -->

             <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="50">&nbsp;</td>
            </tr>



            <!--  Despedida -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <p style="text-align: center;color: #6c9b3b;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: bold;"> Por favor contactar al cliente para tomar su pedido de manera telefónica
              </td>
              <td width="50">&nbsp;</td>
            </tr>

             <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="50">&nbsp;</td>
            </tr>

            <!--  Despedida -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <p style="text-align: center;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: bold;"> Atentamente</p>
                <p style="text-align: center;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;"> Soporte Methodo</p>

              </td>
              <td width="50">&nbsp;</td>
            </tr>

             <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="50">&nbsp;</td>
            </tr>

            <!-- logo rocoto -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse: collapse; padding: 0px; margin:0px;" width="600">
                  <tbody>
                    <tr>
                      <td width="221">&nbsp;</td>
                      <td width="159">
                        <a href="http://www.methodo.cl" style="border: none;margin: 0px;display: block;"><img src="http://200.91.27.170/restaurant/<%=@order.company.data['shop_id'] %>/images/logo-methodo.jpg" alt="" width="159" style="display: block;"></a>
                      </td>
                      <td width="221">&nbsp;</td>

                    </tr>
                  </tbody>
                </table>

              </td>
              <td width="50">&nbsp;</td>
            </tr>


            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="50">&nbsp;</td>
            </tr>


            <!--  Footer Gris -->
            <tr>
              <td colspan="3" style="background-color: #f2f2f2;padding-top: 15px; padding-bottom:50px; padding-left: 15px; padding-right: 15px; ">
                <p style="text-align: center;color: #adadad;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 13px;font-weight: normal;"><strong>Dirección</strong> Eliodoro Yañez 1163, Providencia Santiago   </p>

                <p style="text-align: center;color: #adadad;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 13px;font-weight: normal;"><a href="mailto:contacto@methodo.cl">contacto@methodo.cl</a></p>

              </td>
            </tr>

          </tbody>
          </table>
          <!-- FIN FILA MAIL CENTRADO -->

        </td>
        <td style="width:33.3%">&nbsp;</td>
      </tr>

     </tbody>
  </table>



</body>
</html>
