
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error en pedido</title>
  <style>
    body {
      width: 100% !important;
      min-width: 100%;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      margin: 0;
      Margin: 0;
      padding: 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  </style>
</head>
<body>
  <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse: collapse; padding: 0px; margin:0px;width: 100%;background-color: #F2F2F2;">

    <tbody>
      <tr>
        <td colspan="3" height="50">&nbsp;</td>
      </tr>

      <!-- FILA MAIL CENTRADO -->

      <tr>
          <td style="width:33.3%">&nbsp;</td>
          <td style="width:33.3%">

         <!-- Mail Principal -->
          <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse: collapse; padding: 0px; margin:0px;background-color: #fff;" width="700">
          <tbody>
            <!--  imagenes -->
            <tr>
              <td  colspan="3" style="padding: 0px;width: 700px; "> <img alt="" src="http://200.91.27.170/restaurant/<%=@order.company.data['shop_id'] %>/images/header-error.jpg" style="width: 700px;margin: 0px;display: block; height: 118px;" /></td>
            </tr>
            <tr>
              <td colspan="3"  style="padding: 0px;width: 700px; "> <img alt="" src="http://200.91.27.170/restaurant/<%=@order.company.data['shop_id'] %>/images/foto-error.jpg" style="width: 700px;margin: 0px;" /></td>
            </tr>

            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="30">&nbsp;</td>
            </tr>


            <!--  Estado del pedido -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <h1 style="font-family: 'Arial', 'Helvetica', sans-serif;font-size:18px;font-weight: bold; color: <%=@order.company.data['shop_colors'][0] || '#6d4c95'%>;margin:0px;text-align: center;">Pedido no realizado</h1>
              </td>
              <td width="50">&nbsp;</td>
            </tr>

            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="30">&nbsp;</td>
            </tr>


            <!--  Cuerpo del mensaje -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <p style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;">Estimado(a) <span style="font-weight: bold;"><%=@order.user.name%>:</span> </p>
                <p style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;">
                  <% if @operador == "WebService" %>
                    No se pudo realizar el siguiente pedido online:
                  <% else %>
                    El pedido ha sido cancelado desde el local por <%= @operador %>
                  <% end %>
                </p>
              </td>
              <td width="50">&nbsp;</td>
            </tr>

            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="10">&nbsp;</td>
            </tr>

            <!--  Cuerpo del mensaje 2 -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <p style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;">
                Lamentamos mucho esta situación y te invitamos por favor a llamar a nuestro local al número <strong><%=@order.local['phone'] || '+562'%></strong> para poder realizar tu pedido de manera telefónica.
                </p>
              </td>
              <td width="50">&nbsp;</td>
            </tr>

            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="30">&nbsp;</td>
            </tr>

            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <h4 style="text-align: left;color: <%=@order.company.data['shop_colors'][3] || '#e85412'%>;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: bold;">Detalle de pedido</h4>
              </td>
              <td width="50">&nbsp;</td>

            </tr>

             <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="10">&nbsp;</td>
            </tr>

            <!--  Número de pedido -->
            <tr>
             <td width="50">&nbsp;</td>
              <td width="600">
               <p style="text-align: right;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: bold;">Nº de Pedido: <span style="font-weight: bold;"> <%=@order.id%></p>
              </td>
              <td width="50">&nbsp;</td>
            </tr>

             <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="10">&nbsp;</td>
            </tr>

           <!-- Detalle del pedido -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse: collapse; padding: 0px; margin:0px;" width="600">
                  <thead>
                  <!-- Cabecera -->

                    <tr style="border-bottom-width:2px; border-bottom-style:solid; border-bottom-color: <%=@order.company.data['shop_colors'][0] || '#6d4c95'%>;">
                      <th style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: bold;padding:5px 0px;">Producto</th>
                      <th style="text-align: center;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: bold;padding:5px 0px;">Cantidad</th>
                      <th  style="text-align: right;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: bold;padding:5px 0px;">Valor</th>
                    </tr>
                  </thead>

                  <tbody>
                    <%@order.items.each do |item|%>
                      <!-- Producto -->
                      <tr style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color: #ccc;">
                        <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;">
                        <%=@order.get_item_name item["id_producto"]%>
                        <%if item['families']%>
                          <ul style="margin: 5px 0">
                            <%item['families']['items'].each do |k,v|%>
                              <li>
                                <%=k%>
                                <ul>
                                  <%v.each do |product|%>
                                  <li><%= product['pro_nombre'] == "Palitos" ? "Personas" : product['pro_nombre'] %></li>
                                  <%end%>
                                </ul>
                              </li>
                            <%end%>
                          </ul>
                        <%end%>
                        </td>
                        <td style="text-align: center;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;"><%=item["cantidad"]%></td>
                        <td style="text-align: right;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;"><%=number_to_currency item["amount"], precision: 0, delimiter: "."%></td>
                      </tr>
                    <%end%>

                    <%if @order.send_type=='delivery'%>
                      <!-- Despacho -->
                      <tr style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color: #ccc;">
                        <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: bold;padding:15px 0px 5px 0px;" colspan="2">Despacho</td>

                        <td style="text-align: right;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: bold;padding:15px 0px 5px 0px;"><%=number_to_currency (@order.delivery || @order.local['despacho'] || 1990), precision: 0, delimiter: "."%></td>
                      </tr>
                    <%end%>


                  </tbody>

                  <tfoot>
                  <!-- Total -->

                    <tr style="border-top-width:2px; border-top-style:solid; border-top-color: <%=@order.company.data['shop_colors'][0] || '#6d4c95'%>;">
                      <td style="text-align: left;color: #000;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: bold;padding:8px 0px;" colspan="2">Total:</td>
                      <td style="text-align: right;color: #000;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: bold;padding:8px 0px;"><%=number_to_currency @order.total, precision: 0, delimiter: "."%></td>
                    </tr>

                  </tfoot>
                </table>

              </td>
              <td width="50">&nbsp;</td>

            </tr>



             <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="50">&nbsp;</td>
            </tr>

            <!--  Despedida -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <p style="text-align: center;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: bold;"> ¡Quedamos a la espera de tu llamado!</p>
                <p style="text-align: center;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;"> Atentamente</p>

              </td>
              <td width="50">&nbsp;</td>
            </tr>

            <!-- logo rocoto -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse: collapse; padding: 0px; margin:0px;" width="600">
                  <tbody>
                    <tr>
                      <td width="221">&nbsp;</td>
                      <td width="159">
                        <a href="<%=@order.company.web%>" style="border: none;margin: 0px;display: block;"><img src="<%=@order.company.data['shop_logo']%>" alt="" width="159" style="display: block;"></a>
                      </td>
                      <td width="221">&nbsp;</td>

                    </tr>
                  </tbody>
                </table>

              </td>
              <td width="50">&nbsp;</td>
            </tr>


            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="50">&nbsp;</td>
            </tr>




            <!--  colores lineas -->
            <tr>
              <td colspan="3" height="27" style="background-color: <%=@order.company.data['shop_colors'][3] || '#e85412'%>;"> &nbsp;</td>
            </tr>
            <tr>
              <td colspan="3" height="41" style="background-color: <%=@order.company.data['shop_colors'][2] || '#c2092a'%>;"> &nbsp;</td>
            </tr>


            <!--  Footer Gris -->
            <tr>
              <td colspan="3" style="background-color: #f2f2f2;padding-top: 15px; padding-bottom:50px; padding-left: 15px; padding-right: 15px; ">
                <%@order.locales.each do |local|%>
                  <p style="text-align: center;color: #adadad;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 13px;font-weight: normal;"><strong><%=local['loc_nombre']%>: </strong> <%=local['loc_direccion']%> | <%=local['phone'] || '+562' %></p>
                <%end%>
                <%if @order.company.email%>
                <p style="text-align: center;color: #adadad;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 13px;font-weight: normal;"><a href="mailto:<%=@order.company.email%>"><%=@order.company.email%></a></p>
                <%end%>
              </td>
            </tr>

          </tbody>
          </table>
          <!-- FIN FILA MAIL CENTRADO -->

        </td>
        <td style="width:33.3%">&nbsp;</td>
      </tr>

     </tbody>
  </table>



</body>
</html>
