
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pedido tiempo de espera</title>
  <style>
    body {
      width: 100% !important;
      min-width: 100%;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      margin: 0;
      Margin: 0;
      padding: 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  </style>
</head>
<body>

  <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse: collapse; padding: 0px; margin:0px;width: 100%;background-color: #F2F2F2;">

    <tbody>
      <tr>
        <td colspan="3" height="50">&nbsp;</td>
      </tr>

      <!-- FILA MAIL CENTRADO -->
      <tr>
          <td style="width:33.3%">&nbsp;</td>
          <td style="width:33.3%">

         <!-- Mail Principal -->
          <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse: collapse; padding: 0px; margin:0px;background-color: #fff;" width="700">
          <tbody>
            <!--  imagenes -->
            <tr>
              <td  colspan="3" style="padding: 0px;width: 700px; "> <img alt="" src="http://200.91.27.170/restaurant/<%=@order.company.data['shop_id'] %>/images/header-time.jpg" style="width: 700px;margin: 0px;display: block; height: 118px;" /></td>
            </tr>
            <tr>
              <td colspan="3"  style="padding: 0px;width: 700px; "> <img alt="" src="http://200.91.27.170/restaurant/<%=@order.company.data['shop_id'] %>/images/foto-time.jpg" style="width: 700px;margin: 0px;" /></td>
            </tr>

            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="30">&nbsp;</td>
            </tr>


            <!--  Estado del pedido -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <h1 style="font-family: 'Arial', 'Helvetica', sans-serif;font-size:18px;font-weight: bold; color: <%=@order.company.data['shop_colors'][0] || '#6d4c95'%>;margin:0px;text-align: center;">Tiempo de espera pedido</h1>
              </td>
              <td width="50">&nbsp;</td>
            </tr>

            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="30">&nbsp;</td>
            </tr>


            <!--  Cuerpo del mensaje -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <p style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;">Estimado(a) <span style="font-weight: bold;"><%=@order.user.name%>:</span> </p>
                <p style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;">
                Tu pedido es el <strong>N° <%=@order.id%> </strong> y pronto será ingresado a la cocina para ser preparado</p>
              </td>
              <td width="50">&nbsp;</td>
            </tr>

            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="30">&nbsp;</td>
            </tr>

            <!--  Cuerpo del mensaje 2 -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <p style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;">
                El tiempo de espera aproximado de tu pedido es entre <strong><%=@order.time%> y <%=@order.time+10%> minutos.</strong> Por favor cualquier duda o consulta nos puedes llamar a nuestro número <strong><%=@order.local['phone'] || '+562'%></strong>
                </p>
              </td>
              <td width="50">&nbsp;</td>
            </tr>


            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="30">&nbsp;</td>
            </tr>



            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                  <h4 style="text-align: center;color: <%=@order.company.data['shop_colors'][3] || '#e85412'%>;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: bold;">Resumen</h4>
              </td>
              <td width="50">&nbsp;</td>

            </tr>

             <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="10">&nbsp;</td>
            </tr>

            <!--  Número de pedido -->
            <tr>
             <td width="50">&nbsp;</td>
              <td width="600">
               <p style="text-align: center;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: normal;">Nº de Pedido: <span style="font-weight: bold; color: <%=@order.company.data['shop_colors'][0] || '#6d4c95'%>;"> <%=@order.id%></p>
               <p style="text-align: center;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: normal;">Tiempo de espera: <span style="font-weight: bold; color: <%=@order.company.data['shop_colors'][0] || '#6d4c95'%>;"> <%=@order.time%> a <%=@order.time+10%> minutos </p>
              </td>
              <td width="50">&nbsp;</td>
            </tr>




             <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="50">&nbsp;</td>
            </tr>



            <!--  Despedida -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <p style="text-align: center;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: noraml;"> Muchas gracias por preferir</p>
                <p style="text-align: center;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;"> Atentamente</p>

              </td>
              <td width="50">&nbsp;</td>
            </tr>

            <!-- logo rocoto -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse: collapse; padding: 0px; margin:0px;" width="600">
                  <tbody>
                    <tr>
                      <td width="221">&nbsp;</td>
                      <td width="159">
                        <a href="<%=@order.company.web%>" style="border: none;margin: 0px;display: block;"><img src="<%=@order.company.data['shop_logo']%>" alt="" width="159" style="display: block;"></a>
                      </td>
                      <td width="221">&nbsp;</td>

                    </tr>
                  </tbody>
                </table>

              </td>
              <td width="50">&nbsp;</td>
            </tr>


            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="50">&nbsp;</td>
            </tr>




            <!--  colores lineas -->
            <tr>
              <td colspan="3" height="27" style="background-color: <%=@order.company.data['shop_colors'][3] || '#e85412'%>;"> &nbsp;</td>
            </tr>
            <tr>
              <td colspan="3" height="41" style="background-color: <%=@order.company.data['shop_colors'][2] || '#c2092a'%>;"> &nbsp;</td>
            </tr>


            <!--  Footer Gris -->
            <tr>
              <td colspan="3" style="background-color: #f2f2f2;padding-top: 15px; padding-bottom:50px; padding-left: 15px; padding-right: 15px; ">
                <%@order.locales.each do |local|%>
                  <p style="text-align: center;color: #adadad;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 13px;font-weight: normal;"><strong><%=local['loc_nombre']%>: </strong> <%=local['loc_direccion']%> | <%=local['phone'] || '+562' %></p>
                <%end%>
                <%if @order.company.email%>
                <p style="text-align: center;color: #adadad;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 13px;font-weight: normal;"><a href="mailto:<%=@order.company.email%>"><%=@order.company.email%></a></p>
                <%end%>
              </td>
            </tr>

          </tbody>
          </table>
          <!-- FIN FILA MAIL CENTRADO -->

        </td>
        <td style="width:33.3%">&nbsp;</td>
      </tr>

     </tbody>
  </table>



</body>
</html>
