<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pedido éxito webpay </title>
  <style>
    body {
      width: 100% !important;
      min-width: 100%;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      margin: 0;
      Margin: 0;
      padding: 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  </style>
</head>
<body>

  <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse: collapse; padding: 0px; margin:0px;width: 100%;background-color: #F2F2F2;">

    <tbody>
      <tr>
        <td colspan="3" height="50">&nbsp;</td>
      </tr>

      <!-- FILA MAIL CENTRADO -->

      <tr>
          <td style="width:33.3%">&nbsp;</td>
          <td style="width:33.3%">

         <!-- Mail Principal -->
          <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse: collapse; padding: 0px; margin:0px;background-color: #fff;" width="700">
          <tbody>
            <!--  imagenes -->
            <tr>
              <td  colspan="3" style="padding: 0px;width: 700px; "> <img alt="" src="http://200.91.27.170/restaurant/<%=@order.company.data['shop_id'] %>/images/header-webpay.jpg" style="width: 700px;margin: 0px;display: block; height: 118px;" /></td>
            </tr>

            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="30">&nbsp;</td>
            </tr>

            <!--  Estado del pedido -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <h1 style="font-family: 'Arial', 'Helvetica', sans-serif;font-size:18px;font-weight: bold; color: #6d4c95;margin:0px;text-align: center;">Comprobante de pago</h1>
              </td>
              <td width="50">&nbsp;</td>
            </tr>

            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="30">&nbsp;</td>
            </tr>


            <!--  Cuerpo del mensaje -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <p style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;">Estimado</p>
                <p style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;">
                Se ha recibido una transacción de Webpay exitosamente</p>
              </td>
              <td width="50">&nbsp;</td>
            </tr>

            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="30">&nbsp;</td>
            </tr>

            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <h4 style="text-align: left;color: #e85412;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: bold;">Detalle de pago</h4>
              </td>
              <td width="50">&nbsp;</td>

            </tr>

             <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="10">&nbsp;</td>
            </tr>

            <!--  Número de pedido -->
            <tr>
             <td width="50">&nbsp;</td>
              <td width="600">
               <p style="text-align: right;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: bold;">Nº de Pedido: <span style="font-weight: bold;"> <%=@order.id%></p>
              </td>
              <td width="50">&nbsp;</td>
            </tr>

             <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="10">&nbsp;</td>
            </tr>

           <!-- Detalle del pedido -->
            <tr>
              <td width="50">&nbsp;</td>
              <td width="600">
                <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse: collapse; padding: 0px; margin:0px;" width="600">

                  <tbody>
                    <!-- Producto -->
                    <tr style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color: #ccc;">
                      <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;">Nombre del Cliente</td>
                      <td style="text-align: right;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;"><%=@order.user.name%></td>
                    </tr>
                    <!-- Producto -->
                    <tr style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color: #ccc;">
                      <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;">Últimos digitos Tarjeta</td>
                      <td style="text-align: right;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;"><%=@order.webpay_data["cardnumber"]%></td>
                    </tr>
                    <!-- Producto -->
                    <tr style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color: #ccc;">
                      <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;">Tipo de Pago</td>
                      <td style="text-align: right;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;"><%=@order.webpay_data["paymenttypecode"]=='VD' ? 'Débito' : 'Crédito'%></td>
                    </tr>
                    <!-- Producto -->
                    <tr style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color: #ccc;">
                      <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;">Cuotas</td>
                      <td style="text-align: right;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;"><%=@order.webpay_data["sharesnumber"]%></td>
                    </tr>
                    <!-- Producto -->
                    <tr style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color: #ccc;">
                      <td style="text-align: left;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;">Código de autorización</td>
                      <td style="text-align: right;color: #333;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 16px;font-weight: normal;padding:5px 0px;"><%=@order.webpay_data["authorizationcode"]%></td>
                    </tr>

                    <!-- Total -->

                    <tr style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color: #ccc;">
                      <td style="text-align: left;color: #000;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: bold;padding:8px 0px;" >Monto pagado:</td>
                      <td style="text-align: right;color: #000;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 17px;font-weight: bold;padding:8px 0px;"><%=number_to_currency @order.webpay_data["amount"], precision: 0, delimiter: "."%></td>
                    </tr>

                  </tbody>
                </table>

              </td>
              <td width="50">&nbsp;</td>

            </tr>

             <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="50">&nbsp;</td>
            </tr>



             <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="50">&nbsp;</td>
            </tr>

            <!--  Espacio en blanco -->
            <tr>
              <td colspan="3" height="50">&nbsp;</td>
            </tr>




            <!--  colores lineas -->
            <tr>
              <td colspan="3" height="27" style="background-color: <%=@order.company.data['shop_colors'][3] || '#e85412'%>;"> &nbsp;</td>
            </tr>
            <tr>
              <td colspan="3" height="41" style="background-color: <%=@order.company.data['shop_colors'][2] || '#c2092a'%>;"> &nbsp;</td>
            </tr>


            <!--  Footer Gris -->
            <tr>
              <td colspan="3" style="background-color: #f2f2f2;padding-top: 15px; padding-bottom:50px; padding-left: 15px; padding-right: 15px; ">
                <%@order.locales.each do |local|%>
                  <p style="text-align: center;color: #adadad;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 13px;font-weight: normal;"><strong><%=local['loc_nombre']%>: </strong> <%=local['loc_direccion']%> | <%=local['phone'] || '+562' %></p>
                <%end%>
                <%if @order.company.email%>
                <p style="text-align: center;color: #adadad;font-family: 'Arial', 'Helvetica', sans-serif;margin:0px;font-size: 13px;font-weight: normal;"><a href="mailto:<%=@order.company.email%>"><%=@order.company.email%></a></p>
                <%end%>
              </td>
            </tr>

          </tbody>
          </table>
          <!-- FIN FILA MAIL CENTRADO -->

        </td>
        <td style="width:33.3%">&nbsp;</td>
      </tr>

     </tbody>
  </table>



</body>
</html>
